body,
footer,
header,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
text-align center {
  -webkit-text-size-adjust: none;
  color: #3d9cff;
}
body,
button,
input,
select,
textarea,
ol,
p,
blockquote,
dl,
dt,
dd,
ul,
li,
form,
fieldset,
legend,
th,
td {
  outline: none;
  font: 1em "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif", arial, sans-serif;
  text-align: left;
  color: #3d9cff;
}
body {
  background-color: #fff;
  background-attachment: fixed;
}
ul,
ol {
  list-style: none;
}
a {
  color: #3d9cff;
  text-decoration: none;
}
a text-decoration none {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  outline: 0;
  color: #3d9cff;
}
.abs {
  position: absolute;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  zoom: 1;
}
button {
  border: none;
}
html {
  overflow-x: hidden;
}
body {
  min-width: 20rem;
  overflow-x: hidden;
}
.border {
  padding-left: 1rem;
  padding-right: 1rem;
}
.sidebar ul {
  padding-bottom: 0.9375rem;
}
.sidebar ul h3 {
  color: #525252;
  font-size: 1.125rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  padding-top: 1.25rem;
  font-weight: normal;
}
.sidebar ul li {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  text-indent: 1em;
}
.sidebar ul li p {
  padding-left: 1rem;
}
.sub-nav ul h3 {
  color: #525252;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.sub-nav ul li {
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
}
.sub-nav ul li p {
  padding-left: 1rem;
}
.sub-nav ul li.select {
  border-left: 0.125rem #f4645f solid;
  padding-left: 0.375rem;
}
article {
  color: #525252;
  text-align: left;
}
article h1,
article h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
article h3,
article h4,
article h5 {
  font-weight: 400;
}
article h3 {
  font-size: 1.375rem;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}
article h3:before {
  content: "#";
  margin-right: 0.25rem;
  color: #3d9cff;
  opacity: 0.3;
}
article h4 {
  font-size: 1rem;
  margin-top: 2.125rem;
  margin-bottom: 1.25rem;
}
article h5 {
  font-size: 1rem;
  margin-left: 1.25rem;
  margin-top: 2.125rem;
}
article p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
  line-height: 1.8;
  color: #525252;
}
article ul {
  padding-left: 2rem;
  position: inherit;
  list-style: disc;
  font-size: 0.9rem;
}
article ul li {
  padding-top: 0.25rem;
  color: #525252;
}
article table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
article table tr:nth-child(even) td {
  background-color: #f7f7f7;
}
article table .title-row {
  background-color: #ededed;
}
article table tr th,
article table tr td {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #525252;
}
article table tr th {
  background-color: #e8e8e8;
  font-weight: bold;
  font-size: 0.85rem;
}
article table tr td {
  font-size: 0.75rem;
}
article blockquote {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left: 4px solid #3d9cff;
  background-color: #f8f8f8;
  position: relative;
}
article blockquote p {
  padding: 0;
  margin: 0;
}
article blockquote:before {
  position: absolute;
  top: 14px;
  left: -12px;
  background-color: #3d9cff;
  color: #fff;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 14px;
}
article blockquote code {
  background-color: #efefef;
}
article blockquote em {
  color: $medium;
}
article code {
  border-radius: 3px;
  background-color: #f0f2f1;
  font-size: 0.75rem;
  line-height: 1.8;
  padding: 1px 5px 1px 5px;
  color: #3d9cff;
  font-family: source-code-pro, monospace;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0px 1px #fff;
}
article p.tip {
  background-color: #3d9cff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 15px 10px 15px;
  margin-bottom: 50px;
}
article p.tip a {
  color: #fff;
}
article p.tip p {
  color: #fff;
  margin: 0 auto;
}
article p.tip p a {
  text-decoration: underline;
  color: #fff;
}
article p.tip p a:hover {
  color: #fcd8d6;
}
article ol {
  list-style-type: none;
  counter-reset: sectioncounter;
  padding-left: 1rem;
  position: inherit;
  font-size: 0.9rem;
}
article ol li {
  color: #525252;
  padding-top: 0.25rem;
}
article ol li:before {
  content: counter(sectioncounter) ". ";
  counter-increment: sectioncounter;
}
article hr {
  height: 1px;
  border: none;
  border-top: 1px dashed #dcdcdc;
}
article figure {
  margin: 1.2rem 0;
}
article .highlight {
  overflow-x: auto;
  position: relative;
  padding: 0;
  background-color: #f8f8f8;
  padding: 0.8rem 0.8rem 0.4rem;
  line-height: 1.1rem;
  border-radius: $radius;
  font-size: 0.85rem;
}
article .highlight table,
article .highlight tr,
article .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
article .highlight .gutter {
  width: 1.5rem;
}
article .highlight .code {
  color: #525252;
  font-size: 0.825rem;
}
article .highlight .code pre {
  padding: 1.2rem 1.4rem;
  line-height: 1.5rem;
  margin: 0;
}
article .highlight .code .line {
  min-height: 1.5rem;
}
article .highlight.html .code:after,
article .highlight.js .code:after,
article .highlight.bash .code:after,
article .highlight.css .code:after,
article .highlight.csharp .code:after,
article .highlight.lua .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75rem;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
article .highlight.html .code:after {
  content: 'HTML';
}
article .highlight.csharp .code:after {
  content: 'C#';
}
article .highlight.lua .code:after {
  content: 'Lua';
}
article .highlight.js .code:after {
  content: 'JS';
}
article .highlight.bash .code:after {
  content: 'Shell';
}
article .highlight.css .code:after {
  content: 'CSS';
}
article .gutter pre {
  color: #999;
}
article pre {
  color: #525252;
}
article pre .function .keyword,
article pre .constant {
  color: #3d9cff;
}
article pre .keyword,
article pre .attribute {
  color: #3d9cff;
}
article pre .number,
article pre .literal {
  color: #ae81ff;
}
article pre .tag,
article pre .tag .title,
article pre .change,
article pre .winutils,
article pre .flow,
article pre .lisp .title,
article pre .clojure .built_in,
article pre .nginx .title,
article pre .tex .special {
  color: #2973b7;
}
article pre .class .title {
  color: #fff;
}
article pre .symbol,
article pre .symbol .string,
article pre .value,
article pre .regexp {
  color: #3d9cff;
}
article pre .title {
  color: #2973b7;
}
article pre .tag .value,
article pre .string,
article pre .subst,
article pre .haskell .type,
article pre .preprocessor,
article pre .ruby .class .parent,
article pre .built_in,
article pre .sql .aggregate,
article pre .django .template_tag,
article pre .django .variable,
article pre .smalltalk .class,
article pre .javadoc,
article pre .django .filter .argument,
article pre .smalltalk .localvars,
article pre .smalltalk .array,
article pre .attr_selector,
article pre .pseudo,
article pre .addition,
article pre .stream,
article pre .envvar,
article pre .apache .tag,
article pre .apache .cbracket,
article pre .tex .command,
article pre .prompt {
  color: #3d9cff;
}
article pre .comment,
article pre .java .annotation,
article pre .python .decorator,
article pre .template_comment,
article pre .pi,
article pre .doctype,
article pre .deletion,
article pre .shebang,
article pre .apache .sqbracket,
article pre .tex .formula {
  color: #b3b3b3;
}
article pre .coffeescript .javascript,
article pre .javascript .xml,
article pre .tex .formula,
article pre .xml .javascript,
article pre .xml .vbscript,
article pre .xml .css,
article pre .xml .cdata {
  opacity: 0.5;
}
@media screen and (min-width: 960px) {
  article .highlight {
    font-size: 1.125rem;
  }
}
nav {
  height: 5rem;
  background-color: #fafafa;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
nav img {
  width: 140px;
  height: 42px;
  float: left;
  position: absolute;
  margin-top: 1rem;
}
nav .nav-link li {
  float: right;
  padding: 1.75rem 1rem;
}
nav .nav-link li a {
  color: #3d9cff;
}
nav button {
  float: right;
  margin-top: 1rem;
  padding: 0.75rem 1.25rem;
  background-color: #3d9cff;
  color: #fff;
  border-radius: 5px;
  margin-top: 0.4rem;
}
.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0rem 10rem 3rem 15rem;
  position: relative;
}
.sidebar {
  padding: 2.187rem;
  padding-top: 7rem;
  width: 11.25rem;
  margin-left: -15rem;
  float: left;
}
article {
  padding: 7.75rem 7.75rem 0rem 3.25rem;
  margin-left: 1.25rem;
}
.sub-nav {
  position: absolute;
  top: 15rem;
  right: 0;
  width: 10rem;
}
.sub-nav dl dt {
  color: #525252;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.sub-nav dl dd {
  margin-bottom: 0.25rem;
  padding-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub-nav dl dd.select {
  border-left: 0.125rem #f4645f solid;
  padding-left: 0.375rem;
}
.footer {
  text-align: center;
  margin-top: 2.75rem;
  color: #c8c8c8;
  font-size: 0.75rem;
}
footer {
  background-color: #343434;
  height: 3.125rem;
  padding: 1.875rem;
}
footer p {
  text-align: center;
  color: #aeaeae;
  font-size: 0.8125rem;
  line-height: 1.8;
}
.disable {
  color: #afafaf;
}
.disable:hover {
  color: #afafaf;
  text-decoration: none;
}
@media screen and (min-width: 960px) {
  .hiden-in-pc {
    display: none;
  }
  .hiden-in-phone {
    display: inline;
  }
  nav button {
    margin-top: 1rem;
  }
  nav button:hover {
    background-color: #dc504b;
  }
  footer {
    padding: 3.125rem;
  }
}
@media screen and (max-width: 960px) {
  .hiden-in-pc {
    display: inline;
  }
  .hiden-in-phone {
    display: none;
  }
  nav {
    height: 3rem;
    position: fixed;
  }
  nav button {
    margin-top: 0.4rem;
    padding: 0.35rem 0.75rem;
  }
  nav img {
    width: 110px;
    height: 30px;
    margin-top: 0.5rem;
  }
  .container {
    margin: 0;
    padding: 0rem 0rem 3rem 0rem;
  }
  .sidebar {
    display: none;
  }
  article {
    padding: 5.5rem 1.75rem 0.2rem 0.2rem;
    min-height: 35rem;
  }
}
