// font faces
$body-font = 'Source Sans Pro', 'Helvetica Neue', "微软雅黑", "黑体", serif , Arial, sans-serif
$code-font = 'Roboto Mono', Monaco, courier, monospace

// font sizes
$body-font-size = 15px

// colors
$main-color      = #3d9cff
$contrast-color  = #ffffff
$main-bg-color   = #fafafa

$main-font-color = #2c3e50
$sub-font-color = rgb(200,200,200)

//header
$heading-padding-vertical = 6px
$header-height = 32px