.sidebar 
    ul
        padding-bottom 0.9375rem
        h3
            color #525252 
            font-size 1.125rem 
            padding-bottom 0.625rem 
            margin-bottom 0.625rem
            padding-top 1.25rem
            font-weight normal
        li
            font-size 0.875rem 
            padding-bottom 0.5rem 
            text-indent 1em
            p
                padding-left: 1rem;

.sub-nav 
    ul 
        h3
            color #525252 
            font-weight 700 
            margin-bottom 1rem
            padding-left 0.5rem
        
        li
            margin-bottom 0.25rem 
            padding-left 0.5rem
            p
                padding-left: 1rem;
        
        li.select
            border-left 0.125rem #f4645f solid 
            padding-left 0.375rem