<div id="mobile-header">
    <a id="mobile-nav-toggle" href="#">
      <span class="mobile-nav-toggle-bar"></span>
      <span class="mobile-nav-toggle-bar"></span>
      <span class="mobile-nav-toggle-bar"></span>
    </a>
    <a id="github" href="<%- theme.github %>">
      <img src="<%- url_for("/images/github.png") %>">
    </a>
</div>

<div id="footer">
    <p>© 2017 <a href="<%- theme.github %>">XLua</a></p>
    <p>Power by XLua / BSD 3 licensed</p>
</div>